body {
  font-family: Segoe UI;
}
input[type="button"], input[type="submit"] {
   background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:10px;
}
img{
   width:300px;
   margin-top:10px;
   margin-bottom:10px;
   margin-left:10px;
}
.refprop {
    margin-top:100px;
    margin-left:10px;
}
.imagebutton{
  width:20px !important;
  height:20px !important;
  margin-bottom:0px !important;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:10px;
    width:300px;
    margin-bottom:10px
}
textarea {
    border: 2px #d3d3d3;
    border-radius: 4px;
    height:50px;
    width:300px;
    margin-left:10px;
    margin-right:10px
}
.tablecontent{
	    text-align: center;
	    font-size:23px
	}
input[type=file] {
    margin-left:10px;
    margin-bottom:10px
}
.tableprop{
    border: 1px solid black;
}
.restulttable{
   border: 1px solid black;
   width:595px
}
.textprop{
   text-align:center;
   font-size:23px
}