<!DOCTYPE html>
<html >

  <head>
    <link rel="stylesheet" href="../styles/style.css">
    <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <style>
      table, td, th {
          border: 1px solid black;
      }
      
      table {
          border-collapse: collapse;
          width: 40%;
          align:center;
      }
      
      th {
          height: 50px;
      }
</style>
  </head>
  
  <body ng-app="chatApp" ng-controller="chatController">
  <script src="../js/app.js"></script>
  <script src="../js/controllers/chatcontroller.js"></script>
    <form ng-show="!loggedin">
      <table border="1" align="center">
        <tr>
          <td colspan="2" style="text-align:center"><b>Login To Access Chat Box</b></td>
        </tr>
        <tr>
          <td>Enter Your Name</td>
          <td><input type="text" ng-model="fname"></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button ng-click="loginForm()" ng-disabled="(fname.length==0 || fname==null)">Submit</button>
          </td>
        </tr>
    </table>
  </form>
  <br><br>
  <div ng-show="loggedin">
    <table border="1" align="center">
    <tr>
      <td colspan="2" style="text-align:center"><b>{{fname}}'s ChatBox</b></td>
    </tr>
    <tr ng-repeat="data in datas">
      <td ng-show="(data.user_name==fname?true:false)">{{data.user_name}}</td>
      <td ng-show="(data.user_name==fname?true:false)"><input type="text" ng-model="data.comment" name="fname" ng-disabled="data.user_name!=fname">&nbsp;&nbsp;<button ng-click="writeComment(data)" ng-show="data.user_name==fname">Post</button></td>
    </tr></br>
  </table>
  <br>
  <div ng-repeat="data in datas">
  <table border="1" align="center" ng-show="data.message.length>0">
    <tr class="alignment">
      <td ng-show="true"><b>{{data.user_name}}</b></td>
      
    </tr>
	<tr>
	<td class="alignment">
        <div ng-repeat="comment in data.message">
					<I><b><input type="text" value="{{comment}}" ng-disabled="true"  /></b></I>
		</div>
      </td></br>
	</tr>
  </table>
  </div>
  </div>
  </body>

</html>