<!DOCTYPE html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="../styles/style.css">
	<script src="../lib/angular.min.js"></script>
</head>
<body ng-app="todoApp" ng-controller="todoController">
<script src="../lib/jquery-2.2.3.min.js"></script>
<script src="./lib/jquery-ui.min.js"></script>
<script src="../js/app.js"></script>
<script src="../js/controllers/todocontroller.js"></script>
	<form ng-submit="writePost()">
	<div class="textprop">My Feed App</div><br/>
	 <table  align="center" bgcolor="#F1F1F1" class="tableprop">
		<tr>
			<td colspan="2" class="tablecontent"></td>
		</tr>
		<tr>
			<td height="70">
				<textarea  placeholder="Type..." ng-model="message"> </textarea>
			</td>
			<td>
				<table>
					<tr>
						<td colspan="2">
							<input type="file" id="logo" class="filebutton"  name="file_source">
						</td>
					</tr>
					<tr>
						<td colspan="2" align="left">
							<input type="submit" class="postbutton"  ng-disabled="imagepreview==0 && (message.length==0 || message==null)" value="Post" name="submit">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	</form>
	<br/>
	<div ng-repeat="data in datas"><br />
		<!--<div ng-repeat="data in datas | orderBy:'-created_at'"><br />-->
	<table align="center" bgcolor="#F1F1F1" class="restulttable" >
		<tr>
			<td ><span >{{data.data_message}}</span></td>
		</tr>
		<tr>
			<td><img ng-if="data.base64image" ng-src="{{data.base64image}}"></td>
		</tr>
		<tr >
			<td>
				<a href  ng-click=like(data) class="refprop"><img src="..\images\thumbs.png" class="imagebutton"></a>
				<span>{{data.likeCount}}</span>&nbsp;&nbsp;<b><a href ng-click="showComments(data)">Comments</a></b> {{data.thoughts.length}}</br></br>
			</td>
		</tr>
		<tr ng-if="data.showCommentBox">
			<td>
				<form ng-submit="writeComment(data)">
					<input type="text"  placeholder="Your thoughts..." ng-model="data.comment"/>
					<input type="submit"  value="Post" />
				</form>
			</td>
		</tr>
		<tr ng-if="data.showCommentBox">
			<td>
				<div ng-repeat="comment in data.thoughts">
					<I><b><input type="text" value="{{comment}}" ng-disabled="true"  /></b></I>
				</div>
			</td>
		</tr>
	</table>
	</div><br />
	<br />
</body>
